<aside class="asidel">
    {% for product in site.author %}
    {{ product }}
    {% endfor %}
    {{ site.author.size }}
    {{ content }}

    <!-- <div class=profile>
        <a href="https://twitter.com/{{ twitter_username }}"><span class="icon icon--twitter">{% include social-icon.html icon="Twitter" %}</span></a><br/>
        <a href="https://facebook.com/{{ facebook_username }}"><span class="icon icon--facebook">
            {% include social-icon.html icon="Facebook" %}</span></a>
    </div> -->
</aside>