html,
body {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
  }

  .header {
    background-color: red;
  }

  .nav {
    background-color: blue;
  }

  .asidel {
    background-color: #0a0c15;
    width: 19.1%;
    height: 100%;
  }

  .section {
    background-color: #06080e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }

  @font-face {
    font-family: "Rockness";
    src: url("/assets/font/Rockness.otf") format("opentype"),
      url("/assets/font/Rockness.ttf") format("truetype");
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  .Romance {
    font-family: "Rockness";
    font-size: 200px;
    text-align: center;
    border-right: 0.03em solid white;
    line-height: 150px;
    animation: cursor 1.2s ease infinite;
  }

  .asidel {
    display: none;
  }

  .asider {
    display: none;
  }
}

// /* 테블릿 세로 (해상도 768px ~ 1023px)*/
// @media all and (min-width:768px) and (max-width:1023px) {
//   .container {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     color: white;
//   }

//   .header {
//     background-color: red;
//   }

//   .nav {
//     background-color: blue;
//   }

//   .asidel {
//     background-color: #0a0c15;
//     width: 19.1%;
//     height: 100%;
//   }

//   .section {
//     background-color: #06080e;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     width: 100%;
//   }

//   @font-face {
//     font-family: "Rockness";
//     src: url("/assets/font/Rockness.otf") format("opentype"),
//       url("/assets/font/Rockness.ttf") format("truetype");
//   }

//   @keyframes cursor {
//     50% {
//       border-color: transparent;
//     }
//   }

//   .Romance {
//     font-family: "Rockness";
//     font-size: 200px;
//     text-align: center;
//     border-right: 0.03em solid white;
//     line-height: 150px;
//     animation: cursor 1.2s ease infinite;
//   }

//   .asidel {
//     display: none;
//   }

//   .asider {
//     display: none;
//   }
// }

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
  }

  .header {
    background-color: red;
  }

  .nav {
    background-color: blue;
  }

  .asidel {
    background-color: #0a0c15;
    width: 19.1%;
    height: 100%;
  }

  .section {
    background-color: #06080e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }

  @font-face {
    font-family: "Rockness";
    src: url("/assets/font/Rockness.otf") format("opentype"),
      url("/assets/font/Rockness.ttf") format("truetype");
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  .Romance {
    font-family: "Rockness";
    font-size: 200px;
    text-align: center;
    border-right: 0.03em solid white;
    line-height: 150px;
    animation: cursor 1.2s ease infinite;
  }

  .asidel {
    display: none;
  }

  .asider {
    display: none;
  }
}

// /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
// @media all and (max-width:479px) {
//   .container {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     color: white;
//   }

//   .header {
//     background-color: red;
//   }

//   .nav {
//     background-color: blue;
//   }

//   .asidel {
//     background-color: #0a0c15;
//     width: 19.1%;
//     height: 100%;
//   }

//   .section {
//     background-color: #06080e;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     width: 100%;
//   }

//   @font-face {
//     font-family: "Rockness";
//     src: url("/assets/font/Rockness.otf") format("opentype"),
//       url("/assets/font/Rockness.ttf") format("truetype");
//   }

//   @keyframes cursor {
//     50% {
//       border-color: transparent;
//     }
//   }

//   .Romance {
//     font-family: "Rockness";
//     font-size: 200px;
//     text-align: center;
//     border-right: 0.03em solid white;
//     line-height: 150px;
//     animation: cursor 1.2s ease infinite;
//   }

//   .asidel {
//     display: none;
//   }

//   .asider {
//     display: none;
//   }
// }